<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTN2.Properties.Settings.QLTNConnectionString" connectionString="Data Source=DESKTOP-1QMSKRU\NAM;Initial Catalog=QLTN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTN2.Properties.Settings.QLTNConnectionString1" connectionString="Data Source=DESKTOP-1QMSKRU\CN1;Initial Catalog=QLTN;User ID=KDT"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>